.reactLogoContainer {
    text-align: center;
    color:var(--smokeyGrey);
    display: flex;
    align-items: center;
    gap:2.5px;
    position: absolute;
    top:96%;
    right: 10px;
  }
  
  .reactLogo {
    height: 7.5vmin;
    cursor: crosshair;
  }
  
  .reactLogoContainer p {
    font-size: 1.5rem;
    font-family: var(--secondFont)
  }

  @media (prefers-reduced-motion: no-preference) {
    .reactLogo {
      animation: reactLogo-spin infinite 45s linear;
    }
  }
  
  @keyframes reactLogo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media screen and (min-width: 700px) {
    .reactLogoContainer {
      top: 90%;
    }
  }